// Define variables for your color scheme

// For example:
$red: #FD1015;
$light-green: #ccd5ae;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-green: #283618;
$light-gray: #F4F4F4;
$light-brown: #faedcd;
$brown: #d4a373;
