.custom-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.custom-card .card-body {
  flex-grow: 1;
}
  /* Round the corners of the card and animate on hover */
  .card.custom-card {
    border-radius: 10px; /* Adjust the radius to your liking */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Ensures the image and content respect the rounded corners */
  }

  .card.custom-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
