html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fef9ed !important;
}

.main-content {
  flex: 1;
}

.min-height-150 {
  min-height: 150px;
}
