.navbar-lewagon {
  justify-content: space-between;
  background: #fff8e5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Faint border
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// General transition effect for smooth color changes
.navbar-heading,
.nav-link.text-primary {
  transition: color 0.2s ease-in-out;
}

// Darkening effect on hover (consistent for both navbar heading and buttons)
.navbar-heading:hover,
.nav-link.text-primary:hover {
  color: darken(#283618, 5%) !important; // Adjust darken percentage as needed
}
